<!-- Home page design with small circular image bisecting card. -->

{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%" class="ui equal width three column center aligned padded grid">
    <div class="stretched row">
        
      <div class="black column">
        <img class="ui fluid padded image" src="/images/IMG_0509.JPG">
        </div>
        
        <div class="middle aligned column">
            <h1 class="ui header">
                {{ site.data.bio.basics.name }}
                <div class="sub header">{{ site.data.bio.basics.label }}</div>
            </h1>
            <h4 style="margin-bottom:100px; margin-top: 100px" class="ui header">{{ site.data.bio.basics.summary }}</h4>
             <p>Interests:
      {% for interest in site.data.bio.interests %}
        {{ interest.name }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </p>
        </div>

        <div class="black column">
                <div class="ui one column center aligned relaxed grid">
                    <div class="middle aligned column">
                        <div class="ui vertical inverted basic huge buttons">
                            <a href="{{ site.baseurl}}/bio/">
                                <button style="margin-bottom: 10px" class="ui inverted basic huge button">{{ site.bio-page-label }}</button>
                            </a>
                            <a href="{{ site.baseurl}}/projects/">
                                <button style="margin-bottom: 10px" class="ui inverted basic huge button">PROJECTS</button>
                            </a>
                            <a href="{{ site.baseurl}}/essays/">
                                <button style="margin-bottom: 10px" class="ui inverted basic huge button">BLOG</button>
                            </a>
                        </div>
                        <div style="margin-top:10px" class="center aligned extra content">
                            {% include home-network-links.html %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
